* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #1e1e1e;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header,
footer {
    background-color: #2c2f33;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

main {
    display: flex;
    flex: 1;
    gap: 10px;
}

aside,
section {
    background-color: #2c2f33;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

aside {
    width: 25%;
}

section {
    flex: 1;
}

@media (width <= 768px) {
    main {
        flex-direction: column;
    }

    aside,
    section {
        width: 100%;
    }
}