body{
    background-color: antiquewhite;
}


#id-element{
    background-color:#8a2be2;   
}

.parrafo{
   background-color: yellow;
   color: white;
}

.conteiner .parrafo#id-element{
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.conteiner .parrafo #id-element {
    background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

